*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

/* .featured-properties-and-container-box {
    margin: 5px;
} */

.featured-properties-box {
    margin: auto;
    padding-left: 300px;
    padding-top: 100px;
    padding-bottom: 0px;
    padding-right: 300px;
    text-align: center;
}

.featured-properties-head {
    color: rgb(7, 30, 38);
    font-weight: bolder;
    font-size: xx-large;
}

.featured-properties-para {
    color: grey;
    font-weight: 500;
}

.container {
    padding-top: 50px;
    margin: auto;
    /* width: 80%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    width: 30%;
    margin: 2px;
    margin-bottom: 40px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);

    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
}

.badge {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.for-sale {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #4CAF50;
}

.urgent {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #2196F3;
}

.card-img {
    width: 100%;
    object-fit: cover;
}

.sec2 {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.sec2-1 {
    display: flex;
    justify-content: space-between;
}

.sec2-1-left {
    font-size: 20px;
    font-weight: bolder;
    color: #038107;
}

.sec2-1-right {
    color: rgb(200, 130, 0);
}

.divider {
	width: 100%;
	height: 1px;
    margin-top: 10px;
    margin-bottom: 15px;
	background-color: #dddeee;
}

.sec2-2 {
    color: rgb(7, 30, 38);
    font-weight: bolder;
    font-size: larger;
}

.property-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.detail-item {
    display: flex;
    align-items: center;
    color: #707070;
}

.sec2-4 {
    display: flex;
    justify-content: space-between;
}

.price {
    font-size: 2em;
    font-weight: bolder;
    color: #038107;
}

.button-click {
    background-color: rgb(21, 21, 21);
    color: white;
    font-size: 1.1em;
    padding: 10px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

.button-click:hover {
    background-color: rgb(51, 51, 51);
    color: rgb(220, 220, 220);
}
  

@media (min-width: 360px) and (max-width: 768px) {
    .featured-properties-and-container-box {
        padding: 20px;
    }
    .featured-properties-box {
        margin: 30px;
        padding-left: 10px;
        padding-top: 30px;
        padding-bottom: 0px;
        padding-right: 10px;
    }
    .featured-properties-head {
        font-weight: bold;
        font-size: large;
    }
    
    .featured-properties-para {
        font-weight: 300;
    }
    .container {
      flex-direction: column;
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      /* align-items: center;
      justify-content: space-evenly; */
      /* min-width: 400px; */
    }
    .card {
        width: 100%;
        /* margin: 10%; */
    }
    .badge {
        padding: 3px 5px;
        font-weight: bold;
        font-size: 0.8em;
    }
    .sec2 {
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
    }   
    .sec2-1-left {
        font-size: 15px;
        font-weight: bold;
    }
    .divider {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    
    .sec2-2 {
        font-weight: bold;
        font-size: large;
    }
    
    .property-details {
        margin-top: 5px;
    }
    .price {
        font-size: 18px;
        font-weight: bold;
    }
    .button-click {
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .featured-properties-box {
        margin: 20px;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 0px;
        padding-right: 20px;
    }
    .container {
        padding-top: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .card {
        width: 48%;
    }
    .price {
        font-size: 18px;
        font-weight: bold;
    }
    .button-click {
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 30%;
    }
    .price {
        font-size: 24px;
        font-weight: bold;
    }
    .button-click {
        font-size: 20px;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}


/* @media (min-width: 1400px) {}

@media (min-width: 1200px) and (max-width: 1399px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 576px) and (max-width: 767px) {}

@media (max-width: 992px) {} */
