/* Hide the Google Translate logo and toolbar */
/* .goog-logo-link {
    display: none !important;
}
.goog-te-gadget {
    font-size: 0px !important;
}
.goog-te-banner-frame {
    display: none !important;
}
body {
    top: 0px !important;
} */

/* Customize the dropdown */
#google_translate_element select {
    background-color: #f0f0f0;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 10px;
}

.sticky-header-grid-container {
    padding-left: 10px;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-right: 10px;

    background-color: rgb(11, 44, 61);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    display: grid;
    grid-template-columns: auto auto auto;

    color: aliceblue;

    position: fixed;
    top: 0;
    width: 100%;
    height: 95px;
    transition: top 1s ease;
    /* Smooth transition for hiding */
    z-index: 1000;
    /* Ensure the header is above other content */
}

.sticky-header-grid-items {
    display: flex;
}

.sticky-header-grid-items-column1-and-column2 {
    display: flex;
}

.fa-envelope.sticky-header-flag, .fa-phone.sticky-header-flag {
    color: transparent;
    -webkit-text-stroke-color: rgba(0, 255, 128, 0.6);
    -webkit-text-stroke-width: 1px;
}

.sticky-header-social-icons {
    display: flex;
    gap: 15px;
}

.sticky-header-social-icons a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 2px solid rgba(0, 255, 128, 0.5);
    /* color: rgba(0, 255, 128, 0.6); */
    color: aliceblue;
    background-color: rgb(10, 44, 59);
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease; */

}

.sticky-header-social-icons a:hover {
    background-color: rgb(0, 255, 128);
    color: rgb(44, 62, 80);
}

.sticky-header-grid-container-bottom-empty-div {
    padding-top: 90px; /* Adds space to prevent content from being hidden behind the navbar */
}

@media (max-width: 1000px) {
    .fgj {
        display: none;
    }
    .fgj1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}