@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hero-heading-text{
        @apply capitalize font-bold text-4xl md:text-[56px] md:leading-tight px-2 text-white text-center max-w-[33rem] md:max-w-[40rem] lg:max-w-[48rem] xl:max-w-[60rem] 2xl:max-w-[63rem] mb-28
    }
    .hero-tabs-button.active{
        @apply bg-white text-[#27AE60]
    }
    .hero-tabs-button{
        @apply px-4 py-2 text-base md:text-lg uppercase font-semibold text-white  bg-[#27AE60] hover:bg-white hover:text-[#27AE60] duration-300
    }
    .menu-button::before {
    @apply content-[''] absolute top-0 left-0 h-full w-0 bg-green-600 opacity-0 transition-all duration-500 ease-in-out z-[-1];
    }
    
    .menu-button:hover::before {
    @apply w-full opacity-100;
    }
    }
    .swiper-pagination-bullet-active {
        background-color:  rgb(184,192,200) !important;
    }
    .cut-border{
        background: linear-gradient(135deg, transparent 25px, white 0) top left,
                    linear-gradient(-45deg, transparent 25px, white 0) bottom left;
        background-size: 100% 60%;
        background-repeat: no-repeat;
    }
    svg{
        border: none;
    }
    a.active .nav-link-container{
        color:  #22c55e;
        /* background-color:  #19648a94; */
    }
    .nav-drpdwn.active, a.active .nav-link{
        color: #22c55e;
    }
    a.active .nav-link::after , .nav-drpdwn.active h1::after{
        transform: scale(1.2);
    }
    a.active .nav-link::before, .nav-drpdwn.active h1::before{
        transform: scale(4);
    }
    a .nav-link::after , .nav-drpdwn h1::after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        height: 2px;
        width: 100%;
        transform: scale(0);
        background-color:  #22c55e;
        transition: all ease 0.6s;
    }
    
    a:hover .nav-link::after{
        transform: scale(1.2);
    }
    a .nav-link::before, .nav-drpdwn h1::before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 50%;
        height: 2px;
        width: 2px;
        border-radius: 50%;
        transform: scale(0);
        background-color:  #22c55e;
        transition: all ease 0.3s;
    }
    a:hover .nav-link::before{   
        transform: scale(4);
        background-color:  #22c55e;
    }